:root {
	--animation-duration: 0.2s;
	--animation-easing: ease-in-out;
	--glow-color-1: #159904;
	--glow-color-2: #1eff00;
	--background: #302f2f;
}

hr {
	margin-top: 2px;
	border-color: #808080;
	border-width: 1px;
}

label {
	display: block;
	width: 100%;
	text-align: left;
	height: 16px;
}

/*noinspection CssOverwrittenProperties*/
#event {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #302f2f;
	background-color: var(--background);
	text-align: center;
	pointer-events: none;
	cursor: pointer;
}

#event div {
	margin: auto;
	max-width: 800px;
	height: 100%;
	white-space: nowrap;
}

#event span {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#event img {
	width: 50%;
	vertical-align: middle;
}

#event audio {
	width: 50%;
	vertical-align: middle;
}

#event video {
	width: 50%;
	vertical-align: middle;
}

#toast-container > div {
	width: 260px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 1;
	filter: none;
	-ms-filter: none;
	border: 1px #4c4c4c solid;
	font-family: 'EmuOS', 'MS Sans Serif', 'Arial', sans-serif;
}

#toast-container > div:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 1;
	filter: none;
	-ms-filter: none;
}

.toast-close-button:focus, .toast-close-button:hover {
	color: #fff;
	opacity: 1;
	filter: none;
	-ms-filter: none;
}

#toast-container > .toast-info {
	background-color: #302f2f;
	background-image: url(../images/update.svg) !important;
	background-size: 11% 100%;
	background-position: 8px center;
}

/*noinspection DuplicatedCode*/
#client_command {
	height: 21px;
	width: calc(100% - 50px - 20px - 19px);
	box-sizing: border-box;
	border: 1px #808080 solid;
	border-radius: 0;
	outline: none;
	background: rgba(34, 33, 33, 0.418);
	color: #b4adad;
	vertical-align: top;
}

#client_command_send {
	width: 47px;
	height: 21px;
	outline: none;
	cursor: pointer;
	font-family: 'EmuOS', 'MS Sans Serif', 'Arial', sans-serif;
	color: #808080;
	border: 1px #808080 solid;
	border-radius: 0;
	border-left: none;
	background: rgba(34, 33, 33, 0.418);
	padding: 0;
	vertical-align: top;
}

#client_command_send:active {
	color: #4c4c4c;
	border: 1px #4c4c4c solid;
}

/*noinspection CssOverwrittenProperties*/
#client_container {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	margin: 0;
	padding: 0;
	text-align: left;
	color: #b4adad;
	font-size: 12px;
	font-family: 'EmuOS', 'MS Sans Serif', 'Arial', sans-serif;
	border: 1px #4c4c4c solid;
	background-color: rgba(47, 47, 47, 0.7);
}

#client_container.text_shadow, #client_container.text_shadow input, #client_container.text_shadow button {
	text-shadow: #000 1px 1px;
}

#client_users {
	overflow: hidden;
}

/*noinspection CssUnknownProperty,DuplicatedCode*/
#client_room_users {
	height: calc(100% - 25px);
	padding: 2px;
	overflow-y: auto;
	overflow-x: hidden;
	border-top: 1px #4c4c4c solid;
	scrollbar-base-color: #222;
	scrollbar-3dlight-color: #222;
	scrollbar-highlight-color: #222;
	scrollbar-track-color: #3e3e42;
	scrollbar-arrow-color: #111;
	scrollbar-shadow-color: #222;
	scrollbar-dark-shadow-color: #222;
	/*scrollbar-width: thin;*/
	scrollbar-face-color: rgba(0, 0, 0, 0.38);
	scrollbar-track-color: rgba(34, 33, 33, 0.95);
	scrollbar-color: rgba(0, 0, 0, 0.38) rgba(34, 33, 33, 0.95);
}

/*noinspection CssInvalidHtmlTagReference*/
#client_room_users xmp {
	display: inline-block;
	margin: 0;
	padding: 0;
	word-break: keep-all;
	font-family: 'EmuOS', 'MS Sans Serif', 'Arial', sans-serif;
	font-size: 12px;
}

#client_input .emoji, #client_room_users .emoji {
	width: 14px;
	vertical-align: sub;
}

#client_room_users .emoticon {
	width: 14px;
	height: 14px;
	vertical-align: sub;
}

#client_room_users .emoticon:before {
	transform: scale(0.175);
	transform-origin: left top;
}

#client_room {
	padding: 2px;
	height: 16px;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	background: rgba(34, 33, 33, 0.418);
	color: #395fa4;
	overflow: hidden;
}

.client_right {
	float: left;
	width: calc(35% - 11px);
	height: calc(100% - 40px);
	margin: 2px 0 2px 1px;
	border: 1px #4c4c4c solid;
}

.client_left {
	float: left;
	width: 65%;
	height: calc(100% - 40px);
	margin: 2px 1px 2px 2px;
	border: 1px #4c4c4c solid;
}

.client_topic {
	padding: 5px;
	height: 10px;
	color: #395fa4;
	line-height: 10px;
	overflow: hidden;
	white-space: nowrap;
	word-break: keep-all;
	background-color: rgba(34, 33, 33, 0.418);
	border-bottom: 1px #4c4c4c solid;
	cursor: default;
}

#topic_output {
	display: inline-block;
	padding-left: 100%;
	animation: client_topic 20s linear infinite;
}

@keyframes client_topic {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

/*noinspection CssUnknownProperty,DuplicatedCode*/
#client_output {
	height: calc(100% - 31px);
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-base-color: #222;
	scrollbar-3dlight-color: #222;
	scrollbar-highlight-color: #222;
	scrollbar-track-color: #3e3e42;
	scrollbar-arrow-color: #111;
	scrollbar-shadow-color: #222;
	scrollbar-dark-shadow-color: #222;
	/*scrollbar-width: thin;*/
	scrollbar-face-color: rgba(0, 0, 0, 0.38);
	scrollbar-track-color: rgba(34, 33, 33, 0.95);
	scrollbar-color: rgba(0, 0, 0, 0.38) rgba(34, 33, 33, 0.95);
}

/*noinspection CssInvalidHtmlTagReference,CssOverwrittenProperties*/
#client_output .net_msg xmp {
	display: inline-block;
	margin: 0;
	padding: 0;
	word-break: break-all;
	/*word-break: break-word;*/
	font-family: 'EmuOS', 'MS Sans Serif', 'Arial', sans-serif;
	font-size: 12px;
}

/*noinspection DuplicatedCode*/
#client_output .emoji {
	width: 14px;
	height: 14px;
	vertical-align: sub;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	transform: scale(1);
	z-index: 1;
}

#client_output .ignore-user {
	text-decoration: none;
}

#client_output .ignore-user .emoji {
	width: 12px;
	height: 12px;
	opacity: 0.5;
}

#client_output .ignore-user:hover .emoji {
	opacity: 1;
}

#client_output .emoticon {
	width: 14px;
	height: 14px;
	vertical-align: sub;
	z-index: 2;
}

/*noinspection CssOverwrittenProperties*/
#client_output div {
	word-break: break-all;
	/*word-break: break-word;*/
}

#client_output div > .emoticon:hover {
	position: absolute;
	width: 80px;
	height: 80px;
	margin-left: -25px;
	margin-top: -25px;
}

#client_output span > .emoticon:before,
#client_output div > .emoticon:before {
	vertical-align: sub;
	transform: scale(0.175);
	transform-origin: left top;
}

#client_output div > .emoticon:hover:before {
	transform: scale(1);
}

#client_output div > .emoji:hover {
	transform: scale(6);
}

#client_input {
	float: left;
	width: calc(100% - 17px);
	height: 20px;
	padding: 5px;
	margin: 0 2px 2px;
	font-family: 'EmuOS', 'MS Sans Serif', 'Arial', sans-serif;
	border: 1px #4c4c4c solid;
}

#client_emoticons,
#client_settings {
	width: 21px;
	height: 21px;
	outline: none;
	cursor: pointer;
	color: #808080;
	border: 1px #808080 solid;
	border-radius: 0;
	background: rgba(34, 33, 33, 0.418);
	padding: 0;
	overflow: hidden;
	vertical-align: top;
}

#client_settings {
	border-left: none;
	border-right: none;
}

#client_console [data-title] {
	position: relative;
	text-decoration: none;
}

/*noinspection CssUnresolvedCustomProperty,CssOverwrittenProperties*/
#client_console [data-title]:after {
	display: none;
	visibility: visible;
	content: attr(data-title);
	background-color: #ffffe1;
	color: #000;
	font-size: 11px;
	font-weight: normal;
	position: absolute;
	padding: 1px 5px 2px 5px;
	left: 50%;
	top: 50%;
	left: calc(var(--mouse-x, 0) - 100px);
	top: calc(var(--mouse-y, 0) + 20px);
	white-space: nowrap;
	border: 1px solid #000;
	opacity: 1;
	z-index: 99999;
	pointer-events: none;
}

#client_console [data-title]:hover:after {
	display: block;
}

.client_decoration ::-webkit-scrollbar {
	width: 7px;
}

.client_decoration ::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.38);
}

.client_decoration ::-webkit-scrollbar-track {
	background: rgba(34, 33, 33, 0.95);
}

#client_rooms {
	display: none;
}

#client_rooms-button {
	display: none;
	width: 100% !important;
	height: 18px;
	border: none;
	outline: none;
	border-radius: 0;
	background: transparent;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	padding: 0;
	margin: 0;
	color: #395fa4;
}

/*noinspection CssUnknownProperty,DuplicatedCode*/
#client_rooms-menu {
	background: #302f2f;
	border: 1px solid #4c4c4c;
	border-radius: 0;
	text-align: center;
	margin-top: 0;
	margin-left: -3px;
	width: auto !important;
	/*min-width: 200px;*/
	max-height: 240px;
	white-space: nowrap;
	overflow-x: hidden;
	scrollbar-base-color: #222;
	scrollbar-3dlight-color: #222;
	scrollbar-highlight-color: #222;
	scrollbar-track-color: #3e3e42;
	scrollbar-arrow-color: #111;
	scrollbar-shadow-color: #222;
	scrollbar-dark-shadow-color: #222;
	/*scrollbar-width: thin;*/
	scrollbar-face-color: rgba(0, 0, 0, 0.38);
	scrollbar-track-color: rgba(34, 33, 33, 0.95);
	scrollbar-color: rgba(0, 0, 0, 0.38) rgba(34, 33, 33, 0.95);
}

/*noinspection CssUnknownProperty,DuplicatedCode*/
#client_settings_popover {
	opacity: 0;
	visibility: hidden;
	padding: 5px;
	font-size: 16px;
	text-align: center;
	background: #302f2f;
	border: 1px #4c4c4c solid;
	/* max-height: 200px; */
	/*overflow-x: hidden;*/
	/*overflow-y: auto;*/
	scrollbar-base-color: #222;
	scrollbar-3dlight-color: #222;
	scrollbar-highlight-color: #222;
	scrollbar-track-color: #3e3e42;
	scrollbar-arrow-color: #111;
	scrollbar-shadow-color: #222;
	scrollbar-dark-shadow-color: #222;
	/*scrollbar-width: thin;*/
	scrollbar-face-color: rgba(0, 0, 0, 0.38);
	scrollbar-track-color: rgba(34, 33, 33, 0.95);
	scrollbar-color: rgba(0, 0, 0, 0.38) rgba(34, 33, 33, 0.95);
	animation: hide var(--animation-duration) var(--animation-easing);
}

#client_settings_popover.show {
	opacity: 1;
	visibility: visible !important;
	animation: show var(--animation-duration) var(--animation-easing) !important;
}

#client_settings_popover > a {
	display: block;
}

#client_settings_popover #zoom {
	display: block;
	margin-left: 50px;
	margin-top: -16px;
}

.ui-selectmenu-button span.ui-selectmenu-text {
	padding: 0;
	text-align: center;
}

.ui-menu-item {
	border: none;
	font-weight: bold;
	font-size: 13px;
	color: #4c4c4c;
}

.ui-menu-item-wrapper.ui-state-active {
	color: #395fa4;
	background: none;
	border: none;
	font-weight: bold;
	font-size: 13px;
}

@-webkit-keyframes show {
	0% {
		opacity: 0;
		visibility: visible !important;
		transform: scale3d(0.8, 0.8, 0.8);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		opacity: 1;
		visibility: visible !important;
		transform: scale3d(1, 1, 1);
	}
}

@-moz-keyframes show {
	0% {
		opacity: 0;
		visibility: visible !important;
		transform: scale3d(0.8, 0.8, 0.8);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		opacity: 1;
		visibility: visible !important;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes show {
	0% {
		opacity: 0;
		visibility: visible !important;
		transform: scale3d(0.8, 0.8, 0.8);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		opacity: 1;
		visibility: visible !important;
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes hide {
	0% {
		opacity: 1;
		visibility: visible !important;
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		visibility: hidden !important;
		transform: scale3d(0.8, 0.8, 0.8);
	}
}

@-moz-keyframes hide {
	0% {
		opacity: 1;
		visibility: visible !important;
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		visibility: hidden !important;
		transform: scale3d(0.8, 0.8, 0.8);
	}
}

@keyframes hide {
	0% {
		opacity: 1;
		visibility: visible !important;
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		visibility: hidden !important;
		transform: scale3d(0.8, 0.8, 0.8);
	}
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 3px #fff, 0 0 3px #159904;
	}
	to {
		text-shadow: 0 0 3px #fff, 0 0 6px #1eff00;
	}
}

@-moz-keyframes glow {
	from {
		text-shadow: 0 0 3px #fff, 0 0 3px #159904;
	}
	to {
		text-shadow: 0 0 3px #fff, 0 0 6px #1eff00;
	}
}

@keyframes glow {
	from {
		text-shadow: 0 0 3px #fff, 0 0 3px #159904;
	}
	to {
		text-shadow: 0 0 3px #fff, 0 0 6px #1eff00;
	}
}

@supports (--css: variables) {
	@-webkit-keyframes glow {
		from {
			text-shadow: 0 0 3px #fff, 0 0 3px var(--glow-color-1);
		}
		to {
			text-shadow: 0 0 3px #fff, 0 0 6px var(--glow-color-2);
		}
	}

	@-moz-keyframes glow {
		from {
			text-shadow: 0 0 3px #fff, 0 0 3px var(--glow-color-1);
		}
		to {
			text-shadow: 0 0 3px #fff, 0 0 6px var(--glow-color-2);
		}
	}

	@keyframes glow {
		from {
			text-shadow: 0 0 3px #fff, 0 0 3px var(--glow-color-1);
		}
		to {
			text-shadow: 0 0 3px #fff, 0 0 6px var(--glow-color-2);
		}
	}
}

@-webkit-keyframes glow2 {
	/*noinspection CssNonIntegerLengthInPixels*/
	from {
		-webkit-filter: drop-shadow(0px 0px 0.7px #159904) drop-shadow(0px 0px 0.7px #159904);
		filter: drop-shadow(0px 0px 0.7px #159904) drop-shadow(0px 0px 0.7px #159904);
	}
	/*noinspection CssNonIntegerLengthInPixels*/
	to {
		-webkit-filter: drop-shadow(0px 0px 1.5px #159904) drop-shadow(0px 0px 1.5px #159904);
		filter: drop-shadow(0px 0px 1.5px #159904) drop-shadow(0px 0px 1.5px #159904);
	}
}

@-moz-keyframes glow2 {
	/*noinspection CssNonIntegerLengthInPixels*/
	from {
		-webkit-filter: drop-shadow(0px 0px 0.7px #159904) drop-shadow(0px 0px 0.7px #159904);
		filter: drop-shadow(0px 0px 0.7px #159904) drop-shadow(0px 0px 0.7px #159904);
	}
	/*noinspection CssNonIntegerLengthInPixels*/
	to {
		-webkit-filter: drop-shadow(0px 0px 1.5px #159904) drop-shadow(0px 0px 1.5px #159904);
		filter: drop-shadow(0px 0px 1.5px #159904) drop-shadow(0px 0px 1.5px #159904);
	}
}

@keyframes glow2 {
	/*noinspection CssNonIntegerLengthInPixels*/
	from {
		-webkit-filter: drop-shadow(0px 0px 0.7px #159904) drop-shadow(0px 0px 0.7px #159904);
		filter: drop-shadow(0px 0px 0.7px #159904) drop-shadow(0px 0px 0.7px #159904);
	}
	/*noinspection CssNonIntegerLengthInPixels*/
	to {
		-webkit-filter: drop-shadow(0px 0px 1.5px #159904) drop-shadow(0px 0px 1.5px #159904);
		filter: drop-shadow(0px 0px 1.5px #159904) drop-shadow(0px 0px 1.5px #159904);
	}
}

@supports (--css: variables) {
	@-webkit-keyframes glow2 {
		/*noinspection CssNonIntegerLengthInPixels*/
		from {
			-webkit-filter: drop-shadow(0px 0px 0.7px var(--glow-color-1)) drop-shadow(0px 0px 0.7px var(--glow-color-1));
			filter: drop-shadow(0px 0px 0.7px var(--glow-color-1)) drop-shadow(0px 0px 0.7px var(--glow-color-1));
		}
		/*noinspection CssNonIntegerLengthInPixels*/
		to {
			-webkit-filter: drop-shadow(0px 0px 1.5px var(--glow-color-2)) drop-shadow(0px 0px 1.5px var(--glow-color-2));
			filter: drop-shadow(0px 0px 1.5px var(--glow-color-2)) drop-shadow(0px 0px 1.5px var(--glow-color-2));
		}
	}

	@-moz-keyframes glow2 {
		/*noinspection CssNonIntegerLengthInPixels*/
		from {
			-webkit-filter: drop-shadow(0px 0px 0.7px var(--glow-color-1)) drop-shadow(0px 0px 0.7px var(--glow-color-1));
			filter: drop-shadow(0px 0px 0.7px var(--glow-color-1)) drop-shadow(0px 0px 0.7px var(--glow-color-1));
		}
		/*noinspection CssNonIntegerLengthInPixels*/
		to {
			-webkit-filter: drop-shadow(0px 0px 1.5px var(--glow-color-2)) drop-shadow(0px 0px 1.5px var(--glow-color-2));
			filter: drop-shadow(0px 0px 1.5px var(--glow-color-2)) drop-shadow(0px 0px 1.5px var(--glow-color-2));
		}
	}

	@keyframes glow2 {
		/*noinspection CssNonIntegerLengthInPixels*/
		from {
			-webkit-filter: drop-shadow(0px 0px 0.7px var(--glow-color-1)) drop-shadow(0px 0px 0.7px var(--glow-color-1));
			filter: drop-shadow(0px 0px 0.7px var(--glow-color-1)) drop-shadow(0px 0px 0.7px var(--glow-color-1));
		}
		/*noinspection CssNonIntegerLengthInPixels*/
		to {
			-webkit-filter: drop-shadow(0px 0px 1.5px var(--glow-color-2)) drop-shadow(0px 0px 1.5px var(--glow-color-2));
			filter: drop-shadow(0px 0px 1.5px var(--glow-color-2)) drop-shadow(0px 0px 1.5px var(--glow-color-2));
		}
	}
}

/*noinspection CssOverwrittenProperties*/
.glow {
	/*-webkit-animation: glow 1s ease-in-out infinite alternate;*/
	/*-moz-animation: glow 1s ease-in-out infinite alternate;*/
	/*animation: glow 1s ease-in-out infinite alternate;*/
	text-shadow: 0 0 3px #fff, 0 0 3px #1eff00;
	text-shadow: 0 0 3px #fff, 0 0 3px var(--glow-color-2);
}

/*noinspection CssNonIntegerLengthInPixels*/
.glow2 {
	/*-webkit-animation: glow2 1s ease-in-out infinite alternate;*/
	/*-moz-animation: glow2 1s ease-in-out infinite alternate;*/
	/*animation: glow2 1s ease-in-out infinite alternate;*/
	-webkit-filter: drop-shadow(0px 0px 1.5px var(--glow-color-2)) drop-shadow(0px 0px 1.5px var(--glow-color-2));
	filter: drop-shadow(0px 0px 1.5px var(--glow-color-2)) drop-shadow(0px 0px 1.5px var(--glow-color-2));
	text-shadow: none;
}

.emoji-picker-wrapper {
	position: absolute;
	left: 8px;
	bottom: 31px;
	inset: auto auto 30px 8px !important;
}

.emoji-picker {
	border-radius: 0 !important;
	--emoji-size-multiplier: 1.5 !important;
	--category-name-size: 0.85em !important;
	--category-button-height: 1.4em !important;
	--category-button-size: 1.1em !important;
	--category-border-bottom-size: 2px !important;
	--dark-border-color: #4c4c4c !important;
}

.emoji-picker__content {
	padding: 0.3em !important;
}

.emoji-picker__search {
	border-radius: 0 !important;
}

.emoji-picker.dark .emoji-picker__search {
	background: rgba(43, 42, 42, 0.85) !important;
	border-color: #808080 !important;
}

/*noinspection CssUnknownProperty,DuplicatedCode*/
.emoji-picker__emojis {
	scrollbar-base-color: #222;
	scrollbar-3dlight-color: #222;
	scrollbar-highlight-color: #222;
	scrollbar-track-color: #3e3e42;
	scrollbar-arrow-color: #111;
	scrollbar-shadow-color: #222;
	scrollbar-dark-shadow-color: #222;
	/*scrollbar-width: thin;*/
	scrollbar-face-color: rgba(0, 0, 0, 0.38);
	scrollbar-track-color: rgba(34, 33, 33, 0.95);
	scrollbar-color: rgba(0, 0, 0, 0.38) rgba(34, 33, 33, 0.95);
	padding-left: 0 !important;
	padding-right: 0 !important;
	overflow-x: hidden;
}

.emoji-picker__category-name {
	margin: 0.2em 0 !important;
}

.emoji-picker__search-container {
	margin: 0.3em !important;
}

.emoji-picker__container {
	justify-content: space-between;
}

.emoji-picker__emoji {
	overflow: hidden;
}

.emoji-picker__preview-emoji {
	height: 43px;
	overflow: hidden;
}

.client_nickname {
	cursor: pointer;
}

@keyframes textclip {

	0%{
		background-clip: border-box;
		background-size: 400% auto;

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}



	99% {

		background-position: left -200% center;

	}

	100% {
		background:none;
		background-size: initial;
		background-clip: initial;
		background-size: initial;
		-webkit-text-fill-color: initial;
		-webkit-background-clip: initial;
	}

}

.sp-picker-container, .sp-palette-container {
	float: none;
	padding: 10px;
	margin-bottom: 0;
	border-left: none;
}

.sp-container {
	background-color: #302f2f;
	border: 1px #4c4c4c solid;
}

.sp-container button {
	background-color: #302f2f;
	background-image: -webkit-linear-gradient(top, #4c4c4c, #302f2f);
	background-image: -moz-linear-gradient(top, #4c4c4c, #302f2f);
	background-image: -ms-linear-gradient(top, #4c4c4c, #302f2f);
	background-image: -o-linear-gradient(top, #4c4c4c, #302f2f);
	background-image: linear-gradient(to bottom, #4c4c4c, #302f2f);
	border: 1px solid #4c4c4c;
	color: #fff;
	text-shadow: none;
}

.sp-container button:hover {
	background-color: #302f2f;
	background-image: -webkit-linear-gradient(top, #302f2f, #4c4c4c);
	background-image: -moz-linear-gradient(top, #302f2f, #4c4c4c);
	background-image: -ms-linear-gradient(top, #302f2f, #4c4c4c);
	background-image: -o-linear-gradient(top, #302f2f, #4c4c4c);
	background-image: linear-gradient(to bottom, #302f2f, #4c4c4c);
	border: 1px solid #4c4c4c;
	color: #fff;
	text-shadow: none;
}

.sp-palette-button-container, .sp-button-container {
	float: none;
	margin-top: 7px;
}

.sp-color, .sp-hue, .sp-clear {
	border: none;
}

.sp-replacer {
	background-color: #302f2f;
	border: 1px solid #4c4c4c;
}

.sp-replacer:hover, .sp-replacer.sp-active {
	border: 1px solid #4c4c4c;
}

.sp-preview {
	border: none;
	margin-right: 0;
	width: 23px;
}

.sp-dd {
	text-shadow: none;
	color: white;
	margin-left: 5px;
}